<div class="container">
    <h2>Login user</h2>

    {{#if error}}
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
    {{/if}}


    <form action="/user/confirm" method="POST">
        <div class="mb-3">
            <label for="email" class="form-label">{{t 'userEmail' }}</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="mb-3">
            <label for="code" class="form-label">User code</label>
            <input type="text" class="form-control" id="code" name="code">
        </div>
        <button class="btn btn-primary">Login</button>
    </form>
</div>