<div class="container">
    <h2>Lista Klientów</h2> 
    <a href="/customer/add" class="btn btn-success mb-3">Dodaj Klienta</a>

    {{#each customerlist}}
    <div class="card mb-3">
        <div class="card-body">
            <h2 class="card-title">Nazwa :{{name}}</h2>
            <p class="card-text">NIP: {{nip}}</p>
            <a href="/customer/{{_id}}" class="btn btn-primary">Więcej</a>
            <a href="/customer/delete/{{_id}}" class="btn btn-danger btn-bottom-right">Usuń</a>
        </div>
    </div>
    {{/each}}
</div>
<style>
        .card {
            position: relative;
        }

        .card .btn-bottom-right {
            position: absolute;
            bottom: 10px;
            right: 10px; 
        }
    </style>