<div class="container">
    <h2>Add Post</h2>

    <form action="/blog/add" method="post">
    <div class="mb-3">
        <label for="title" class="form-label">Post title</label>
        <input type="text" class="form-control" id="title" name="title">
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">Post title</label>
        <textarea name="content" id="content" class="form-control" rows="3"></textarea>
    </div>
    <div class="mb-3">
        <label for="author" class="form-label">Author</label>
        <input type="text" class="form-control" id="author" name="author">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>