<div class="container">
    <h2>Edit Post</h2>

    <form action="/blog/edit/{{_id}}" method="post">
    <div class="mb-3">
        <label for="title" class="form-label">Post title</label>
        <input type="text" class="form-control" id="title" name="title" value="{{title}}">
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">Post title</label>
        <textarea name="content" id="content" class="form-control" rows="3">{{content}}</textarea>
    </div>
    <div class="mb-3">
        <label for="author" class="form-label">Author</label>
        <input type="text" class="form-control" id="author" name="author" value="{{author}}">
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>